html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Arial,"Microsoft Yahei","Hiragino Sans GB";
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration: none;color:rgba(255,255,255,1);}
a:hover{color:rgba(255,255,255,.7);}
.container{width:1200px;margin:auto;}
.indexbg{background: url(../images/index_bg.jpg) no-repeat center; width:100%;height: 462px;position: relative;}
.indexbg .language{float: right;width:200px;margin-top:30px;font-size: 14px;}
.indexbg .cn,.pic .cn,.indexbg .en,.pic .en{display: inline-block;background: url(../images/china.png)  no-repeat ; padding-left:26px;margin-left: 10px;line-height:18px; }
.indexbg .cn a,.pic .cn a,.indexbg .en a,.pic .en a{display: block;width:100%; height: 100%;}
.indexbg .en,.pic .en{background: url(../images/UK.png) no-repeat ;margin-left:0;}
.indexbg .enter{width:700px;height: 102px;position: absolute; bottom:100px; margin-left:250px; background: url(../images/logotext_cn.png) no-repeat;}
.indexbrand{margin:100px  0 0 450px;}
.indexbg .enter .linktechnology{height: 100%; width: 400px; display: block; float: left;}
.indexbg .enter .linkdesign{float: right; height: 100%; width:235px;display: block;}

.pic{position: relative;}
.pic img{vertical-align: bottom;margin:0;padding: 0;}
.pic .more{width: 95px;height: 25px; background: rgba(98,193,225,1); line-height: 25px; text-align: center;position: absolute; bottom: 65px;right:90px;border-radius: 3px;}
.pic .more a{color: #333;font-size: 12px;display: block;}
.pic .language{right:30px; top:30px; position: absolute;font-size: 14px;}
.logo{position:absolute;left:50px;top:50px;}
.nav{position: absolute;right:60px;top:210px;font-size: 18px; font-weight: 400;}
.nav li{height:30px;margin-bottom:6px; line-height: 30px; background: rgba(0,0,0,.5); padding:0 10px; border-radius: 5px; text-align: right;}